{% from "security/_macros.html" import render_field_with_errors, render_field %}
<style>
    #loginbox {
        margin-left: auto;
        margin-right: auto;
        margin-top: 33px;
        width: 333px;
    }
    label {
        width: 66px;
        display: inline-block;
    }
    .flashes {
        background: yellow;
        font-weight: bolder;
        font-size: 13px;
        line-height: 33px;
    }
    .flashes li.info {
        list-style-type: none;
        text-align: center;
        align: center;
    }
</style>
<div id="loginbox" >
{% include "security/_messages.html" %}
<h1>Login</h1>
<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
  {{ login_user_form.hidden_tag() }}
  {{ render_field_with_errors(login_user_form.password) }}
  {{ render_field_with_errors(login_user_form.remember) }}
  {{ render_field(login_user_form.next) }}
  {{ render_field(login_user_form.submit) }}
</form>
</div>
<!--
{ % include "security/_menu.html" % }
-->
