{% extends 'admin/master.html' %}
{% block body %}

  <a id="top"></a>
  <h3>App List</h3>


  <!-- applist menu: quicklinks to each namespace -->
  <div class="applist-menu">
    {% set pipe = joiner("|") %}

    {% for ns in app_list %}
      <a href="#{{ ns.namespace }}">{{ ns.namespace }}</a>
      {% if not loop.last %}
        {{ pipe() }}
      {% endif %}
    {% endfor %}
  </div>


  <!-- loop over app list breaking on namespace -->
  {% for ns in app_list %}
    <div id="dashboard-service-status">
      <h4><a href="#top" title="to top of page...">◮</a> Namespace: <a id="{{ ns.namespace }}" class="applist-anchor">{{ ns.namespace }}</a></h4>
      <table>
      <tr>
        <th style="width: 300px;">Name</th>
        <th style="width: 40px;">Ready</th>
        <th style="width: 40px;">Status</th>
        <th style="width: 40px;">Restarts</th>
        <th style="width: 80px;">Age</th>
        <th style="width: *;">ImageURL</th>
        <th style="width: 60px;"></th>
      </tr>
      {% for app in ns.applist %}
        <tr>
          <td style="border-right: 1px solid gray;">{{ app.name }}</td>
          <td style="border-right: 1px solid gray; text-align: center;">{{ app.ready }}</td>
          <td style="border-right: 1px solid gray; text-align: center;"><span title="Message: {{ app.status_message }}&#10;Reason: {{ app.status_reason }}">{{ app.status }}</span></td>
          <td style="border-right: 1px solid gray; text-align: center;">{{ app.restarts }}</td>
          <td style="border-right: 1px solid gray; text-align: center;"><span title="{{ app.age_creation_timestamp }}">{{ app.age }}</span></td>
          <td style="border-right: 1px solid gray; text-align: left;">{{ app.image }}</td>
          <td>
            <a href="/autobuild/admin/custom_detail_viewer?item-type=Log&item-namespace={{ ns.namespace }}&item-name={{app.name}}" title="instance logs..." target="_blank" rel="noopener noreferrer"><img id="logs-img" src="../../static/img/logs.png" height="14px" width="18px" alt="instance logs" title="instance logs..."></img></a>
            <a href="/autobuild/admin/custom_detail_viewer?item-type=Spec&item-namespace={{ ns.namespace }}&item-name={{app.name}}" title="instance specs..." target="_blank" rel="noopener noreferrer" ><img id="specs-img" src="../../static/img/specs.png" height="14px" width="18px" alt="instance spec" title="instance spec..."></img></a>
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% endfor %}


{% endblock %}
