{% extends 'admin/master.html' %}
{% block body %}
    ab is a platform for creating and deploying builds which has few requirements of the 'source' application (namely the app must have a build-ab script, be git based, and deployable through kubernetes).

    <h3>Release</h3>
    <div id="account">
      <ul>
          <li>version: {{ help_about['version'] }}</li>
          <li>released: {{ help_about['modified'] }}</li>
          <li>inception: 2018-04-24</li>
          <li>source: <a href="https://bitbucket.org/nortondev/autobuild/src/master/">bitbucket.org/nortondev/autobuild</a></li>
          <li>issues: <a href="https://wwnorton.atlassian.net/browse/DEVOPS-86?jql=project%20%3D%20DEVOPS%20AND%20component%20%3D%20autobuild">wwnorton.atlassian.net/browse/DEVOPS</a></li>
          <li>support: #ab-support (please create a ticket for trackable support)</li>
      </ul>
    </div>

    <div style="padding-top: 20px;">
      Copyright 2018 W.W. Norton. All Rights Reserved.
    </div>


{% endblock %}
