{% extends 'admin/master.html' %}
{% block body %}
    <h3>Help</h3>
    <p>
      This app has been designed to show inline help and tips where appropriate.
    </p>
    <p>
      If you find help missing or something that is not clear please check the wiki and/or JIRA first (see <a href='../help_about'>help/about</a> for location) then contact the administrator if needed.
    </p>

    <h4>Quick Start</h4>
    <ul>
      <li>Build An App
        <ol>
          <li>Click 'Create'</li>
          <li>Select the App, enter Branch and other needed info</li>
          <li>Click 'Save'</li>
          <li>Watch the #builds slack channel for completion notification (should take 1-2 minutes)</li>
        </ol>
      </li>
      <li>Deploy A Build
        <ol>
          <li>From Builds, click <span class="fa fa-pencil glyphicon icon-upload"></span> (Deploy Icon)</li>
          <li>Select the Namespace to deploy to</li>
          <li>Enter a deployment Note</li>
          <li>Click 'Save'</li>
          <li>New image is deployed as a kubernetes 'patch' which usually takes 10-15 seconds and has no app downtime</li>
        </ol>
      </li>
    </ul>


    <h4>Monitoring Builds</h4>
    <p>
    Upon creating a new build request you will notice that its status is set to "Requested". This means a new build request has been placed on the build queue and will be picked up for build as soon as a builder is free. It should be noted that each builder can perform one build at a time. This means that if there is only one builder than only one build can take place at a time. If you refresh the Builds page and you request stays in the "Requested" status then its likely that another build is currently taking place and your request will be processed as a builder becomes available.
    </p>
    <p>
      You can check the build queue depth (how many build requests are pending) and see how many builders are operating by going to the Tools > Status page. Each builder will be listed under the builder section. In the top right corner of this section you will also see the 'Build Queue Depth' count - 0 indicates no build requests in the queue.
    </p>
    <p>
      Notice! build requests and the completion of the build are posted to the #builds slack channel, you may want to join this channel to get instant notification of when the build completes.
    </p>


    <h4>The dolab</h4>
    <p>
      The dolab is a namespace which has been setup to allow users to experiment with builds and deploys. All users should have access to deploy to this namespace, if you do not please contact support.</p>
    <p>
      The html-app is a reference application which can be used to test builds and deploys. This application is already set up in ab and can be built/deployed to the dolab namespace. If you would like to change the source (e.g. increment the build number to see a build/deploy in action) you can clone the repo at gitlab.com:drad/example-basic-html.git, make changes, push and then create a build/deploy with ab. Note: you will need to request access to this repo to push to it *or* you can fork it but note that you will need a repo that ab can pull from in order to build it.
      <br/>
      You can view the instance of the html-app running in the doplay namespace at <a href="https://deploysvc.wwnorton.com/html-app/">https://deploysvc.wwnorton.com/html-app/</a>.
    </p>
    <p>
      The steps to deploy changes to this application are as follows:
      <ul>
        <li>Update source code (e.g. open the html-app/app/index.html file and increment the version)</li>
        <li>save changes, add file to git, commit, and push to the remote repo</li>
        <li>in ab, go to Builds > Create</li>
        <li>select html-app from the App combo box</li>
        <li>enter master for the branch</li>
        <li>check Build, Tag Latest, and Push Image</li>
        <li>enter your name for Requester</li>
        <li>add a note such as: testing build</li>
        <li>add a few tags (e.g. test, minor, change, informal-request)</li>
        <li>click the Save button to submit the build request</li>
        <li>after your build completes, click on the <span class="fa fa-pencil glyphicon icon-upload"></span> (Deploy Icon) and you will be taken to the Deployment page</li>
        <li>select the namespace you want to deploy the app to (dolab in this case)</li>
        <li>the App and Image Url fields should be filled out for you</li>
        <li>enter your name for the Approver</li>
        <li>add a note such as: testing deployment</li>
        <li>click the Save button to deploy the image to the kubernetes cluster</li>
        <li>go to the <a href="https://deploysvc.wwnorton.com/html-app/">html-app</a> page (or refresh the page) and you should see the version of the page increment to that of which you changed the source to</li>
      </ul>
    </p>


{% endblock %}
