{% extends 'admin/master.html' %}
{% block body %}
    <h3>Welcome to ab!</h3>
    <div style="font-style: italic; ">
        {% if not current_user.id %}
          <p style="padding-left: 100px;">
            Please login to access builds and deploys.
          </p>
        {% endif %}
    </div>
    <p>
      This application allows you to build (create an image) and deploy (to kubernetes) an application.
    </p>


    <h4>Notices</h4>
    <ul>
      <li>the route of the app will be changing <i>soon</i>: https://klb.wwnorton.com/autobuild <span style="font-family: Georga, 'Times New Roman', Times, serif; font-size: 26px; font-weight: bold;">→</span> https://klb.wwnorton.com/ab (you should be redirected automatically)</li>
    </ul>


    <h4>Next Steps</h4>
    <ul>
      <li>Join the #builds slack channel - all build events (start, stop, errors, etc) are sent to the #builds channel, this shows you exactly when your build starts and stops.</li>
      <li>Check the <a href="{{ url_for('status.index') }}">Status</a> page
      <ul>
        <li>if Build Queue Depth is > the number of builders your Build may not yet be building</li>
        <li>if there "No data found" is displayed under the builder section no builders are running (contact support)</li>
      </ul>
      </li>
      <li><a href="{{ url_for('queue.create_view') }}">Build something...</a></li>
      <li>Read the <a href="{{ url_for('online_help.index') }}">Help</a> page for a Quick Start guide and other useful info</li>
      <li>See the <a href="{{ url_for('help_about.index') }}">About</a> page to submit issues, requests or see support info</li>
    </ul>


{% endblock %}
