<!DOCTYPE html>
<html lang="en">
<head>
    <title>ab - Home</title>
    <meta http-equiv="refresh" content="0; url=admin" />
</head>

<body>
    Welcome {{ current_user.username }}!
    <br />
    <br />
    If you're seeing this page, you must be logged in.
    <br />
    <br />
    If you're an administrator, you can click <a href="admin">here</a> to administer Users and Roles.
    <br />
    <br />
    Click <a href="logout">here</a> to log out.
    <br />
    <br />
</body>
</html>
