<style>
    #loginbox {
        margin-left: auto;
        margin-right: auto;
        margin-top: 66px !important;
        width: 400px;
        border: 2px solid #BFBFBF;
        border-radius: 13px;
        padding: 7px 7px 7px 7px;
        margin-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 5px 10px #888888;
    }
    .login-header {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px !important;
        padding: 13px 0px 23px 0px;
        font-family: "Times New Roman", Times, serif;
        font-size: 28px;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }
    .ldap-url {
        margin-left: auto;
        margin-right: auto;
        /* margin-top: 5px !important; */
        padding: 3px 0px 3px 0px;
        font-family: "Times New Roman", Times, serif;
        font-size: 10px;
        font-weight: normal;
        width: 100%;
        text-align: right;
    }
    label {
        width: 100px;
        display: inline-block;
    }
    input {
        width: 225px;
        display: inline-block;
    }
    #submit {
        width: 100px;
    }
    .actions {
        padding: 13px 13px 13px 13px;
        margin-top: 13px;
        display: block
        margin-left: auto;
        margin-right: auto;
    }
    .flashes {
        background: yellow;
        font-weight: bolder;
        font-size: 13px;
        line-height: 33px;
    }
    .flashes li.info {
        list-style-type: none;
        text-align: center;
        align: center;
    }
</style>
<div id="loginbox">
  <div class="login-header">ab login</div>
  <div class="top-pad">
    {% if get_flashed_messages() %}
    <div class="flashes">{{ get_flashed_messages() }}</div>
    {% endif %}
    {% if form.errors %}
    <div class="flashes">{{ form.errors }}</div>
    {% endif %}
    <form method="POST">
        <div class="form-group"><label>Username</label>{{ form.username() }}</div>
        <div class="form-group"><label>Password</label>{{ form.password() }}</div>
        <div class="actions">
          {{ form.submit() }}
          {{ form.hidden_tag() }}
        </div>
    </form>
  </div>
  <div class="ldap-url" title="LDAP URL: ???" style="cursor: hand;">(?)</div>
</div>
