{% extends 'admin/master.html' %}
{% block body %}

  <h3>Service Status</h3>

    <div id="dashboard-service-status">
      <h4>api</h4>
      <table>
        <tr>
          <th style="width: 75px;">status</th>
          <th style="width: 150px;">updated</th>
          <th style="width: 100px;">instance</th>
          <th style="width: 150px;">version</th>
          <th style="width: *;"></th>
        </tr>
        {% for item in apis %}
          <tr>
            <td><span title="{{ item['message'] }}">{{ item['status'] }}</span></td>
            <td>{{ item['updated'] }}</td>
            <td>{{ item['service_id'] }}</td>
            <td>{{ item['version'] }}</td>
            <td></td>
          </tr>
        {% else %}
          <tr>
            <td id="service-status-table-no-data-found" colspan="5">No data found.</td>
          </tr>
        {% endfor %}
      </table>
    </div>


    <div id="dashboard-service-status">
      <h4>builder</h4>
      {% if queue_depth == 0 %}
        {% set queue_depth_style = 'queue-depth-normal' %}
      {% else %}
        {% set queue_depth_style = 'queue-depth-notice' %}
      {% endif %}
      <div id="queue-depth" class="{{ queue_depth_style }}">
        Build Queue Depth: <span title="number of items in the Build queue waiting to be processed">{{ queue_depth }}</span>
      </div>
      <table>
        <tr>
          <th style="width: 75px;">status</th>
          <th style="width: 150px;">updated</th>
          <th style="width: 100px;">instance</th>
          <th style="width: 150px;">version</th>
          <th style="width: *;"></th>
        </tr>
        {% for item in builders %}
          <tr>
            <td><span title="{{ item['message'] }}">{{ item['status'] }}</span></td>
            <td>{{ item['updated'] }}</td>
            <td>{{ item['service_id'] }}</td>
            <td>{{ item['version'] }}</td>
            <td></td>
          </tr>
        {% else %}
          <tr>
            <td id="service-status-table-no-data-found" colspan="5">No data found.</td>
          </tr>
        {% endfor %}
      </table>
    </div>


    <div id="dashboard-service-status">
      <h4>deployer</h4>
      <table>
        <tr>
          <th style="width: 75px;">status</th>
          <th style="width: 150px;">updated</th>
          <th style="width: 100px;">instance</th>
          <th style="width: 150px;">version</th>
          <th style="width: *;"></th>
        </tr>
        {% for item in deployers %}
          <tr>
            <td><span title="{{ item['message'] }}">{{ item['status'] }}</span></td>
            <td>{{ item['updated'] }}</td>
            <td>{{ item['service_id'] }}</td>
            <td>{{ item['version'] }}</td>
            <td></td>
          </tr>
        {% else %}
          <tr>
            <td id="service-status-table-no-data-found" colspan="5">No data found.</td>
          </tr>
        {% endfor %}
      </table>
    </div>


    <div id="dashboard-service-status">
      <h4>wui</h4>
      <table>
        <tr>
          <th style="width: 75px;">status</th>
          <th style="width: 150px;">updated</th>
          <th style="width: 100px;">instance</th>
          <th style="width: 150px;">version</th>
          <th style="width: *;"></th>
        </tr>
        {% for item in wuis %}
          <tr>
            <td><span title="{{ item['message'] }}">{{ item['status'] }}</span></td>
            <td>{{ item['updated'] }}</td>
            <td>{{ item['service_id'] }}</td>
            <td>{{ item['version'] }}</td>
            <td></td>
          </tr>
        {% else %}
          <tr>
            <td id="service-status-table-no-data-found" colspan="5">No data found.</td>
          </tr>
        {% endfor %}
      </table>
    </div>


    <div id="dashboard-service-status">
      <h4>maint</h4>
      <table>
        <tr>
          <th style="width: 75px;">status</th>
          <th style="width: 150px;">updated</th>
          <th style="width: 100px;">instance</th>
          <th style="width: 150px;">version</th>
          <th style="width: *;"></th>
        </tr>
        {% for item in maintenances %}
          <tr>
            <td><span title="{{ item['message'] }}">{{ item['status'] }}</span></td>
            <td>{{ item['updated'] }}</td>
            <td>{{ item['service_id'] }}</td>
            <td>{{ item['version'] }}</td>
            <td></td>
          </tr>
        {% else %}
          <tr>
            <td id="service-status-table-no-data-found" colspan="5">No data found.</td>
          </tr>
        {% endfor %}
      </table>
    </div>


<!--
    <h4>charts</h4>
      {#
      {{ chart|safe }}
      #}
-->


{% endblock %}
