{% extends 'admin/master.html' %}
{% block body %}

  <a id="top"></a>
  <h3>{{ title }}</h3>

  <h4>
    Tasks
  </h4>
  <ul>
    <li><a href="{{ url_for('system-config.flush_applist_cache') }}">Flush AppList Cache</a></li>
    <li><a href="{{ url_for('system-config.flush_nslist_cache') }}">Flush NamespaceList Cache</a></li>
  </ul>

{% endblock %}
